@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.heart {
  width: 100px;
  height: 100px;
  background: #ff6b9d;
  transform: rotate(-45deg);
  position: relative;
}

.heart::before,
.heart::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6b9d;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -50%;
  left: 0;
}

.heart::after {
  left: 50%;
  top: 0;
}
